body {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;    
}
h1 {
    margin-bottom: 0px;
    color: darksalmon
}
h2 {
    margin-top: 0px;
    margin-bottom: 100px;
}
#content {
    align-self: center;
    display: flex;
}
#options {
    display:flex;
    flex-direction: column;
    align-items: center;
}
#vertical-line {
    border-left: 1px solid darksalmon;

    margin: 20px;
}
#results {
    align-self: center;
    text-align: left;
    font-size: 25px;
}
.display-counts {
    color: darksalmon;
}
img {
    margin: 20px;
}
.option {
    display: relative;
}
button {
    width: 80px;
    margin: 20px;
    padding: 5px;
    border: 2px solid darksalmon;
    border-radius: 3px;
    background-color: transparent;
    color: darksalmon;
    font-size: 14px;
    font-weight: bold;
    transition-duration: 0.3s;
}
button:hover {
    transition-duration: 0.3s;
    background-color: darksalmon;
    color: white;
}
#button-restart {
    position: relative;
    right: 13px;
}
